*{
}

.root{
	myColor: #55aaff;
	-fx-background-color: #222;
	-fx-fill: myColor;
}

.gameScreen{
	-fx-cursor: crosshair;
}

Text{
	-fx-fill: myColor;
}

.helpScreen *{
	-fx-background-color: #222;
}

.hexRow{
	-fx-alignment: center;
	-fx-margin-top: 200;
}
.hexText{
	-fx-fill: #fff;
	-fx-font-weight: bold;
}
.hexButton{
	-fx-opacity: 0;
}
.hexShape{
	-fx-fill: myColor;
	-fx-stroke: #444;
	-fx-stroke-width: 5;
}
.hex .hexText.hidden{
	-fx-fill: none;
}
.hex.gameHex:hover .hexShape.hidden{
	-fx-fill: #222;
	-fx-stroke: #222;
	-fx-stroke-width: 5;
}
.hex.gameHex .hexShape.hidden{
	-fx-fill: #222;
	-fx-stroke: #222;
	-fx-stroke-width: 5;
}
.hex:hover .hexShape{
	-fx-fill: #222;
	-fx-stroke: #fff;
	-fx-stroke-width: 5;
}
.hex.gameHex:hover .hexShape{
	-fx-fill: myColor;
	-fx-stroke: #444;
	-fx-stroke-width: 5;
}
.green .hex.gameHex .hexShape{
	-fx-stroke: #0f0;
	-fx-stroke-width: 5;
}
.green .hex.gameHex .hexShape.hidden{
	-fx-stroke: #0f0;
	-fx-stroke-width: 5;
}
.green .hex.gameHex .hexText.hidden{
	-fx-fill: #fff;
}
.red .hex.gameHex .hexShape{
	-fx-stroke: #f00;
	-fx-stroke-width: 5;
}
.red .hex.gameHex .hexShape.hidden{
	-fx-stroke: #f00;
	-fx-stroke-width: 5;
}
.red .hex.gameHex .hexText.hidden{
	-fx-fill: #fff;
}